<%= form_for Skill.new do |form| %>


  <div class="field form-group">
    <%= form.label :Name  %>
    <%= form.text_field :name, id: :skill_name , class:'form-control'%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :skill_description,  class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :project_used %>
    <%= form.text_area :projects, id: :skill_project, class:'form-control' %>
  </div>
 </div><br>

  <div class="actions form-group">
    <%= form.submit 'Add skill' ,class:'btn btn-success' %>
  </div>
<% end %>
