<%= form_for([@project,@project.ratings.build]) do |f| %>
<P>
  <%= f.label :name %>
  <%= f.text_field :name, class:'form-control' %>
</P>

<P>
  <%= f.label :content %>
  <%= f.text_area :body, class:'form-control' %>
</P>

<P>

  <%= f.submit %>
</P>
<% end %>
