<body>

   <!-- Static navbar -->
   <div class="navbar navbar-inverse navbar-static-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand">Ontiri</a>
       </div>
       <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
           <% if !logged_in? %>
              <li class="nav-item"><%= link_to 'Log-in', login_path %></li>
                <li class="nav-item"><%= link_to 'Sign-up', signup_path %></li>
              <%else%>
                <li> you are logged in as <%= current_user.email %></li>
            <li class="nav-item"><%= link_to 'Home',home_path %></li>

           <li class="nav-item"><%= link_to 'About',about_path %></li>
           <li class="nav-item"><%= link_to 'Work',work_path %></li>
           <li class="nav-item"><%= link_to 'Blog',posts_path %></li>
           <li class="nav-item"><%= link_to 'Contact',contact_path %></li>
          <li class="nav-item"><%= link_to 'Log-out', logout_path, method: :delete  %></li>
              <%end%>
           <!-- <li class="nav-item"><%= link_to 'New_Blog',new_post_path %></li> -->
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </div>
