<!DOCTYPE html>
<html lang="en">
  <head>


    <title>brian ontiri</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="assets/stylesheets/application.css.scss" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/hover.zoom.js"></script>
    <script src="assets/js/hover.zoom.conf.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	<!-- +++++ Welcome Section +++++ -->
  <% if !logged_in? %>
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<%= image_tag  'user.jpg',  alt:'ontiri', style:"width:155px; height:155px;",  class:"img-circle" %>

          <marquee direction="right" loop="1000" scrollamount="6" scrolldelay="2" behavior="alternate" width="75%">
             <h1><span style="text-align:center;"> Hi, I am Brian!</span></h1>
           </marquee>
					<p>Hello everybody. I'm Brian Ontiri, a free-lancing handsome full-stack web developer. A really simple guy ready for those wanting to showcase their work with a cute & clean style.</p>
					<p>Please, consider to register to <a href="https://www.facebook.com/Foughts-Kenya-1912995088982444/?ref=bookmarks">my newsletter</a> to be updated with my latest projects and freebies. Like always, you can contact me on the views about the project or  Share it with your friends.</p>

				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->

  <%else%>
	<!-- +++++ Projects Section +++++ -->

      <h1 style="text-align:center;"> Latest Projects</h1>


	<div class="container pt">
		<div class="row mt centered">
			<div class="col-lg-4">
      <%= image_tag  'port1.png', class:"img-responsive",  class:"zoom green", alt:'co-charity', style:"width:400px; height:300px;"%>
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/port01.jpg" alt="" /></a>
				<p>CO-CHARITY</p>
			</div>
			<div class="col-lg-4">
          <%= image_tag  'port2.png',  class:"img-responsive",  class:"zoom green",  alt:'co-charity', style:"width:400px; height:300px;"%>
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/port02.jpg" alt="" /></a>
				<p>FOUGHTS.KE</p>
			</div>
			<div class="col-lg-4">
          <%= image_tag  'port03.jpg',   class:"img-responsive",  class:"zoom green", alt:'co-charity', style:"width:400px; height:300px;"%>
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/port03.jpg" alt="" /></a>
				<p>NOTIFIER</p>
			</div>
		</div><!-- /row -->
		<div class="row mt centered">
			<div class="col-lg-4">
          <%= image_tag  'port04.jpg',  class:"img-responsive",  class:"zoom green", alt:'co-charity', style:"width:400px; height:300px;"%>
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/port04.jpg" alt="" /></a>
				<p>KING-LOST</p>
			</div>
			<div class="col-lg-4">
          <%= image_tag  'port5.png',  class:"img-responsive",  class:"zoom green", alt:'co-charity', style:"width:400px; height:300px;"%>
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/port05.jpg" alt="" /></a>
				<p>MOVIE.NET</p>
			</div>
			<div class="col-lg-4">
          <%= image_tag  'port6.png',  class:"img-responsive",  class:"zoom green", alt:'co-charity', style:"width:400px; height:300px;"%>
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/port06.jpg" alt="" /></a>
				<p>CHEFS.RESIPE</p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
  <%end%>

	<!-- +++++ Footer Section +++++ -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.min.js"></script>
      <script src="assets/stylesheets/application.css.scss"></script>

  </body>
</html>
